
body {
  background-color: darkgreen;
}

#score {
  background-color: white;
  position: absolute;
  left: 50px;
  top: 900px;
}

#board {
  width: 800px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: rgb(77, 206, 60);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 375px;
  top: 195px;
}

#leftPaddle {
    background-color: rgb(77, 206, 60);
    width: 25px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#rightPaddle {
    background-color: rgb(77, 206, 60);
    width: 25px;
    height: 150px;
    position: absolute;
    left: 775px;
    top: 0px;
}


/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */

